@page "/"
@inject HttpClient Http


<h1>Static</h1>
<TextDiff OldText="@left" NewText="@right" CollapseContent="@collapsible">
    <Header>
        <h6 style="padding: 12px; margin: 0px;">
            Harry Potter and the Metabolic Stone
            <span class="badge badge-primary">@($"{context.LineModificationCount} Line Modifications")</span>
            <span class="badge badge-danger">@($"{context.LineDeletionCount} Line Deletions")</span>
            <span class="badge badge-success">@($"{context.LineAdditionCount} Line Additions")</span>

            <span class="badge badge-primary">@($"{context.WordModificationCount} Word Modifications")</span>
            <span class="badge badge-danger">@($"{context.WordDeletionCount} Word Deletions")</span>
            <span class="badge badge-success">@($"{context.WordAdditionCount} Word Additions")</span>
        </h6>
    </Header>
</TextDiff>


@code {
    string left = @"Mr. and Mrs. Fursley, of number six, Sunset Drive, were proud to say that they were almost perfectly normal. They were the last people you'd expect to be involved in anything weird or mysterious, because they just didn't hold with such nonsense.
    Mr. Fursley was the director of a firm called Brunings, which made hatchets. He was a big, well fed man with no neck, although he did have a very large mustache. Mrs. Fursley was petite and blonde and had nearly twice the usual amount of neck, which came in very useful as she spent so much of her time bending over garden fences, spying on the neighbors. The Fursley's had a small son called Fudley and in their opinion there was no finer boy anywhere.
    The  Dursleys  had  everything  they  wanted...

<some>
  <xml1>
  </xml1>
</some>
";
    string right = @"Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say that they were perfectly normal, thank you very much. They were the last people you'd expect to be involved in anything strange or mysterious, because they just didn't hold with such nonsense.
    Mr. Dursley was the director of a firm called Grunnings, which made drills. He was a big, beefy man with hardly any neck, although he did have a very large mustache. Mrs. Dursley was thin and blonde and had nearly twice the usual amount of neck, which came in very useful as she spent so much of her time craning over garden fences, spying on the neighbors. The Dursleys had a small son called Dudley and in their opinion there was no finer boy anywhere.
    The  Dursleys  had  everything  they  wanted...

<some>
  <xml2>
  </xml2>
</some>";
    bool collapsible = true;
}