@inject HttpClient Http
@page "/async"

<TextDiff OldText="@left" NewText="@right" CollapseContent="@collapsible">
    <Header>
        <h6 style="padding: 12px; margin: 0px;">
            Loaded From <a target="_blank" href="https://github.com/lzinga/TTTWeightedTraitorSelection">My Github Repo</a>

            <span class="badge badge-primary">@($"{context.LineModificationCount} Line Modifications")</span>
            <span class="badge badge-danger">@($"{context.LineDeletionCount} Line Deletions")</span>
            <span class="badge badge-success">@($"{context.LineAdditionCount} Line Additions")</span>

            <span class="badge badge-primary">@($"{context.WordModificationCount} Word Modifications")</span>
            <span class="badge badge-danger">@($"{context.WordDeletionCount} Word Deletions")</span>
            <span class="badge badge-success">@($"{context.WordAdditionCount} Word Additions")</span>
        </h6>
        <button type="button" @onclick="@(() => collapsible = !collapsible)">Toggle Collapse</button>
    </Header>
</TextDiff>

@code {

    string left = "";
    string right = "";
    bool collapsible = true;


    protected override async Task OnInitializedAsync()
    {
        left = await Http.GetStringAsync("https://raw.githubusercontent.com/lzinga/TTTWeightedTraitorSelection/fe20c3e645aaa20e40cecc615037d51a34f9cb4a/README.md");
        right = await Http.GetStringAsync("https://raw.githubusercontent.com/lzinga/TTTWeightedTraitorSelection/c763193e8a5bddfbec097c7b96ea0f875eedb01b/README.md");
    }
}